{#
/**
 * Accordion Set
 * -----
 *
 * @author    TILT, LLC <support@tiltbuilt.com>
 * @copyright Copyright (c) 2019, TILT, LLC
 * @link      https://tiltbuilt.com
 * @package   tiltrus
 */
#}

{# Load in global macros for use across all Twig templates #}
{% import 'bodyblocks/_core/_macros/globalMacros' as gMacros %}
{# Load in _core Tiltrus Element Display Controls macros #}
{% import 'bodyblocks/_core/_macros/edcMacros' as edcMacros %}
{# Optionally load in project-specific EDC macro overrides #}
{# {% import '_tiltrus/_project/edcMacros' as edcMacros %} #}


{# Set block id attribute value #}
{% if accordion.customId is defined and accordion.customId != '' %}
	{% set blockId = accordion.customId %}
{% else %}
	{% set blockId = 'accordionSet-' ~ accordion.id %}
{% endif %}

{# Set block type handle as class name for styling #}
{% set blockClass = accordion.type.handle %}

{# Get styling and script classes for block and assemble as class string #}
{% set stylingClasses = [] %}

{# add class to allow javascript to determine how many children to allow open at one time #}

{% if accordion.accordionSetAllowMultipleOpenPanels is defined and accordion.accordionSetAllowMultipleOpenPanels == 0 %}
	{% set stylingClasses = stylingClasses|merge(['accordionSetSingleOpen']) %}
{% endif %}

{# add margin classes to stylingClasses #}

{% set stylingClasses = stylingClasses|merge([accordion.topMargin, accordion.bottomMargin]) %}
  
{# Get the component's "Custom Class List" setting, thru which arbitrary classes can be added to the component #}
{% set customClassString = (accordion['customClassList'] is defined ? accordion.customClassList : null) %}

<div {{ edcMacros.buildElementAttributes(blockId, blockClass, stylingClasses, customClassString) -}}>
  
	{% for child in accordion['children'].all() %}

	  {# determine if this is the first loop through children to determine how to set initial state of first clid accordion #}
	  
	  {% if accordion.accordionStartState is defined and accordion.accordionStartState == 1 and loop.first == true %}
	  	{% set openFirst = true %}
	  {% else %}
	  	{% set openFirst = false %}
	  {% endif %}
	  
	  {#-
		For each child component, attempt to load a custom template for the
		component handle from the project's files,
		then the same template from the core Tiltrus files,
		then a custom default template from the project,
		and finally the default template for this component type from the core Tiltrus files.
	  -#}	  
	  
		{% include [
			'bodyblocks/project/accordions/' ~ child.type.handle,
			'bodyblocks/_core/accordions/' ~ child.type.handle,
			'bodyblocks/project/accordions/accordion',
			'bodyblocks/_core/accordions/accordion'
		  ] with { 'accordion': child, 'setPiece': true, 'accSpacing': accordion.accordionSpacing, 'openFirst': openFirst, 'loopCount': loop.index, 'parentAccSet': blockId }
		%}	  

	{% endfor %}  
   
</div>