# The environment Craft is currently running in (dev, staging, production, etc.)
ENVIRONMENT=dev

# The application ID used to to uniquely store session and cache data, mutex locks, and more
APP_ID=CraftCMS-

# The secure key Craft will use for hashing and encrypting data
SECURITY_KEY=

# Database Configuration
DB_DRIVER=mysql
DB_SERVER=127.0.0.1
DB_PORT=3306
DB_DATABASE=
DB_USER=root
DB_PASSWORD=
DB_SCHEMA=public
DB_TABLE_PREFIX=

# The URI segment that tells Craft to load the control panel
CP_TRIGGER='admin'


SITE_NAME="Website"
SITE_EMAIL="webbies@tiltbuilt.com"

SITE_URL="http://website.test/"
SITE_PATH="/path/to/root/"

#This item is only used in the local environment when using mix. It keeps you from having to edit the mix config file.
DEV_HOST="website.test"

PUBLIC_FOLDER="web"
UPLOADS_FOLDER="uploads"
TRANSFORMS_FOLDER="transforms"

SMTP_HOSTNAME="smtp.eu.mailgun.org"
SMTP_PORT="587"
SMTP_USERNAME=""
SMTP_PASSWORD=""

IMAGE_ASSETS_URL="${SITE_URL}${UPLOADS_FOLDER}/images"
IMAGE_ASSETS_PATH="${SITE_PATH}${PUBLIC_FOLDER}/${UPLOADS_FOLDER}/images"

DOC_ASSETS_URL="${SITE_URL}${UPLOADS_FOLDER}/docs"
DOC_ASSETS_PATH="${SITE_PATH}${PUBLIC_FOLDER}/${UPLOADS_FOLDER}/docs"

VIDEO_ASSETS_URL="${SITE_URL}${UPLOADS_FOLDER}/images"
VIDEO_ASSETS_PATH="${SITE_PATH}${PUBLIC_FOLDER}/${UPLOADS_FOLDER}/images"

IMGIX_SRC_DOMAIN="website.imgix.net"
IMGIX_API_KEY=""
IMGIX_TOKEN=""