{#
/**
 * Tilt Boilermaker - Generic Row Block Template
 * -----
 * 
 * 
 * @author    TILT, LLC <support@tiltbuilt.com>
 * @copyright Copyright (c) 2019, TILT, LLC
 * @link      https://tiltbuilt.com
 */
#}

{# Load in global macros for use across all Twig templates #}
{% import '_boilerplate/_macros/globalMacros' as gMacros %}


{# Set block id attribute value #}
{% if row.customId is defined and row.customId != '' %}
	{% set blockId = row.customId %}
{% else %}
	{% set blockId = 'row-' ~ row.id %}
{% endif %}

{# Set block type handle as class name for styling #}
{% set blockClass = 'row ' ~ row.type.handle %}
{% set innerClass = 'inner ' ~ row.type.handle ~ '-inner' %}

{# set loadType to null if not defined - for handling lazy load on carousels #}
{% if loadType is not defined %}
	{% set loadType = null %}
{% endif %}

{# Sort Out Styling Adjustments to set up class lit arrays #}

{# create arrays to collect style changes to primary element and inner and bg #}
{% set outerClasses = ['elem-block', row.topMargin] %}
{% set rowClasses = ['anim-pass', row.rowHorizontalAlignment, row.rowVerticalAlignment] %}

{# Get the component's "Custom Class List" setting, thru which arbitrary classes can be added to the component #}
{% set customClassString = (row['customClassList'] is defined ? row.customClassList : null) %}


{# set animation classes for reveal #}

{% set revealClass = [] %}
{% if row.revealAnimation == 'anim-child' %}	
	{% if row.animateChildren is not empty %}
		{% if row.animateChildren == true %}
			{% set revealClass = revealClass|merge(['anim-pass']) %}			
		{% else %}
			{% set revealClass = revealClass|merge([row.revealAnimation]) %}		
		{% endif %}
	{% else %}
		{% set revealClass = revealClass|merge([row.revealAnimation]) %}
	{% endif %}	
{% else %}
	{% if row.animateChildren is not empty %}
		{% if row.animateChildren == true %}
			{% set revealClass = revealClass|merge(['anim-parent']) %}
			{% if row.staggerChildReveals is not empty %}
				{% if row.staggerChildReveals == true %}
					{% set revealClass = revealClass|merge([row.revealAnimation ~ '-stagger']) %}
				{% else %}
					{% set revealClass = revealClass|merge([row.revealAnimation]) %}
				{% endif %}
			{% endif %}			
		{% else %}
			{% set revealClass = revealClass|merge(['anim-elem', row.revealAnimation]) %}		
		{% endif %}
	{% else %}
		{% set revealClass = revealClass|merge(['anim-elem', row.revealAnimation]) %}
	{% endif %}			
{% endif %}
{% set outerClasses = outerClasses|merge(revealClass) %}

{# OUTPUT #}

<div {{ gMacros.buildElementAttributes(blockId, 'elem-block row-wrapper', outerClasses, customClassString) -}}>	
	<div class="{{innerClass}}">
		<div {{ gMacros.buildClassList(blockClass, rowClasses, null) -}}>
							
			{% for child in clone(row.children).collect() %}	  
										
				{%
					include [
					  '_project/_bodyblocks/columns/' ~ child.type.handle,
					  '_boilerplate/_bodyblocks/columns/' ~ child.type.handle,
					  '_project/_bodyblocks/columns/column',
					  '_boilerplate/_bodyblocks/columns/column'
					] with { 'column' :  child, 'loadType': loadType }
				  %}
				
			{% endfor %}
			
		</div>
	</div>	   
</div>
