{#
/**
 * Tilt Boilermaker - Pages entry template
 * -----
 * Loads the appropriate page partial or the default
 * 
 * @author    TILT, LLC <support@tiltbuilt.com>
 * @copyright Copyright (c) 2019, TILT, LLC
 * @link      https://tiltbuilt.com
 */
#}

{# Load in global macros for use across all Twig templates #}
{% import '_boilerplate/_macros/globalMacros' as gMacros %}


{% do craft.app.elements.eagerLoadElements(
 className(entry),
 [entry],
 ['seoImage', 'modalToDisplay', 'pageBuilder', 'pageBuilder.styleSetSection:backgroundImage', 'pageBuilder.styleSetPageHeader:backgroundImage', 'pageBuilder.styleSetContainer:backgroundImage', 'pageBuilder.styleSetSpecialContainer:backgroundImage', 'pageBuilder.styleSetColumn:backgroundImage', 'pageBuilder.styleSetCtaSmall:backgroundImage', 'pageBuilder.styleSetCta:backgroundImage', 'pageBuilder.styleSetStandaloneAccordion:backgroundImage', 'pageBuilder.styleSetAccordion:backgroundImage', 'pageBuilder.styleSetAccordionSet:backgroundImage', 'pageBuilder.styleSetTabSet:backgroundImage', 'pageBuilder.styleSetTabPanel:backgroundImage', 'pageBuilder.styleSetForm:backgroundImage', 'pageBuilder.styleSetSliderSet:backgroundImage', 'pageBuilder.styleSetSlide:backgroundImage', 'pageBuilder.styleSetWrapper:backgroundImage', 'pageBuilder.ctaStandard:imageAsset', 'pageBuilder.image:imageAsset', 'pageBuilder.contentVideo:imageAsset', 'pageBuilder.repeaterItemContentLink:imageAsset', 'pageBuilder.repeaterEntryChildList:listParentEntry', 'pageBuilder.repeaterSectionEntryList.listEntriesSections', 'pageBuilder.repeaterSelectEntryList.listSpecificEntries']
) %}

{% set pageBuilderContent = entry.pageBuilder.collect() %}

{% set buttonModalList = [] %}
{% for block in entry.pageBuilder %}
    {% if block.type == 'standaloneButtonModal' or block.type == 'groupModalButton' %}
        {% set buttonModalList = buttonModalList|merge([block]) %}
    {% endif %}
{% endfor %}


{# -- Layout template for HTML pages -- #}
{% extends "_project/_layouts/generic-page-layout.twig" %}

{% block pageId %}page-{{- entry.slug -}}{% endblock %}

{% block bodyAttr %}	
    {% if entry.modalToDisplay|length or buttonModalList|length %}class="has-modal{% if entry.modalToDisplay|length %} load-modal{% endif %}"{% endif %} {% if entry.modalToDisplay|length %}{% set loadModal = entry.modalToDisplay[0] %}data-load-modal="{{loadModal.url}}"{% endif %}	
{% endblock %}

{% block globalHeader %}

    {% if entry.showPageHeader %}	
      {% include '_project/_partials/global-header' %}
    {% endif %}
     
{% endblock %}

{% block pageHeader %}

    {% if entry.showPageHeader %}	
      {% for block in pageBuilderContent %}
          {% if block.level == 1 and block.type.handle == 'pageHeader' %}
              
                {%
                  include [
                    '_project/_bodyblocks/sections/pageHeader',
                    '_boilerplate/_bodyblocks/sections/pageHeader'
                  ] with { 'section' : block }
                %}
              
          {% endif %}  
       {% endfor %} 
     
   {% endif %}
     
{% endblock %}

{% block pageContent %}
        
    {% for block in pageBuilderContent %}
        {% do block.useMemoized(pageBuilderContent) %}
    {% endfor %}
    
    {% for block in pageBuilderContent %}
        {% if block.level == 1 and block.type.handle starts with 'section' %}
            
              {%
                include [
                  '_project/_bodyblocks/sections/' ~ block.type.handle,
                  '_boilerplate/_bodyblocks/sections/' ~ block.type.handle,
                  '_project/_bodyblocks/sections/section',
                  '_boilerplate/_bodyblocks/sections/section'
                ] with { 'section' : block,  }
              %}
            
        {% endif %}  
     {% endfor %}    

{% endblock %}

{% block pageFooter %}

    {% if entry.showPageFooter %}
      {% include '_project/_partials/global-footer' %}
    {% endif %}
    
{% endblock %}

{% block modalContent %}	
   {% if entry.modalToDisplay|length or buttonModalList|length %}		
      <div id="modal-wrapper" class="closed">       
        <div id="modal" class="closed" role="dialog" aria-labelledby="modal-title" aria-describedby="modal-description" aria-hidden="true">
            <button id="btn-modal-close" class="btn-modal-close">			  
                <svg><use xlink:href="#icon-close"></use></svg>
            </button>
            <div id="modal-content">
                <div class="modal-spinner">
                    <img src="/dist/img/ajax-loader-gray-300.gif" alt="Loading" />
                </div>
            </div>
        </div>
        <div id="modal-overlay"></div>	
      </div>	
    {% endif %}
{% endblock %}