{#
/**
 * Tilt Boilermaker - Generic Code Embed Block Template
 * -----
 * 
 * 
 * @author    TILT, LLC <support@tiltbuilt.com>
 * @copyright Copyright (c) 2019, TILT, LLC
 * @link      https://tiltbuilt.com
 */
#}

{# Load in global macros for use across all Twig templates #}
{% import '_boilerplate/_macros/globalMacros' as gMacros %}

{# Set block id attribute value #}
{% if block.customId is defined and block.customId != '' %}
  {% set blockId = block.customId %}
{% else %}
  {% set blockId = 'embed-' ~ block.id %}
{% endif %}

{# Set block type handle as class name for styling #}
{% set blockClass = block.type.handle %}


<div {{ gMacros.buildElementAttributes(blockId, blockClass) -}}>  
	{{ block.embedCode|raw }}  
</div>