{#
/**
 * Tilt Boilermaker - Generic Text Content Block Template
 * -----
 * 
 * 
 * @author    TILT, LLC <support@tiltbuilt.com>
 * @copyright Copyright (c) 2019, TILT, LLC
 * @link      https://tiltbuilt.com
 */
#}

{# Load in global macros for use across all Twig templates #}
{% import '_boilerplate/_macros/globalMacros' as gMacros %}
{% set classList = ['mt-base', 'anim-pass', 'text-content' ] %}
{% set classListUl = ['bullet-list', 'anim-child', block.numberOfColumnsTablet, block.numberOfColumnsLaptop, block.numberOfColumnsDesktop ] %}
    
{#<div {{ gMacros.buildClassListBasic(classList) -}}>#}
{{ block.textContent | retconAttr('*:not(li) > ul', { class: classListUl }) | retconAttr('p', { class: 'anim-child' }) | retconAttr('ol', { class: 'anim-child' }) }}
{#</div>#}