/**
* components/accordion.css
*
* Accordion and Accordion Set component specific styles
*
*/
 
@layer component {
	.accordion-set {
		/* These classes must stay in order to ensure functionality */
	
		/* The default classes and style below can be changed on a per-project basis */
		margin-top: var(--spacing-normal);	 
	}
		
	.accordion {
		margin-top: var(--spacing-half-normal);
		
		&:first-child {
			margin-top: 0;
		}
	}
 
	.accordion-header {
		padding: 0;
		margin: 0;
		display: block;
	}

	.accordion-button {
		cursor: pointer;
		display: flex;	
		width: 100%;
		justify-content: space-between;
		align-content: center;
		/* add classes below to style type etc. in button */
		padding-top: var(--spacing-half);
		padding-bottom: var(--spacing-half);
		padding-left: var(--spacing-base);
		padding-right: var(--spacing-base);
		font-weight: bold;
		text-transform: uppercase;
		transition: color 0.5s cubic-bezier(0.075, 0.82, 0.165, 1), background-color 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
	}

	.accordion-icon {
		transition: transform 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
	}
	
	.accordion-content-wrapper {
		overflow: hidden;
		max-height: 0;		
		transition: max-height 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
		
		background-color: #999999;
	}

	.accordion-content {
		padding-left: var(--spacing-base);
		padding-right: var(--spacing-base);
		padding-top: var(--spacing-base);
		padding-bottom: var(--spacing-base);	
	}

	/* STYLING FOR ACCORDION ICON FOR DIFFERENT STATES - CHANGE BASED ON DESIGN */

	.accordion-button[aria-expanded='true'] > .accordion-icon {
		transform: rotate(90deg);
	}
}



 