@layer components {
	.quote {
		margin-top: var(--spacing-normal);
	}


	.quote-credit {
		display: block;
		margin-top: var(--spacing-base);		
	}

	.quote-credit-title {
		display: block;
		margin-top: var(--spacing-half);		
	}
}