/* color scheme classes are applied to every element so inheritance issues are avoided background color overrides may be needed for scenarios where a background color class and colorscheme are applied together */

/* LIGHT COLORMODE */

.color-theme-light, .color-theme-default  {	
	
	--textColor: theme('colors.black');
	--linkColor: theme('colors.red.500');
	--linkHover: theme('colors.red.300');
	--bgPrimary: theme('colors.white');
	--bgSecondary: theme('colors.gray.300');
	--btnColor: theme('colors.gray.500');
	--btnTextColor: theme('colors.white');
	--btnHoverColor: theme('colors.gray.700');
	--iconColor: theme('colors.red.500');
	--color-type-headline-default: theme('colors.black');
	--color-type-subhead-default: theme('colors.black');
	--color-pg-header-text: theme('colors.black');
	--color-pg-header-headline: theme('colors.black');
	--color-pg-header-subhead: theme('colors.black');
}
	

/* DARK COLORMODE */

.color-theme-dark, .color-theme-pageheader {
	
	--textColor: theme('colors.white');
	--linkColor: theme('colors.red.500');
	--linkHover: theme('colors.red.300');
	--bgPrimary: theme('colors.black');
	--bgSecondary: theme('colors.gray.700');
	--btnColor: theme('colors.white');
	--btnTextColor: theme('colors.gray.700');
	--btnHoverColor: theme('colors.gray.400');
	--iconColor: theme('colors.white');
	--color-type-headline-default: theme('colors.white');
	--color-type-subhead-default: theme('colors.white');
	--color-pg-header-text: theme('colors.white');
	--color-pg-header-headline: theme('colors.white');
	--color-pg-header-subhead: theme('colors.white');
}
	

/* RED COLORMODE */

.colormode-red {
	
	--textColor: theme('colors.black');
	--linkColor: theme('colors.red.500');
	--linkHover: theme('colors.red.300');
	--bgPrimary: theme('colors.white');
	--bgSecondary: theme('colors.red.600');
	--btnColor: theme('colors.red.600');
	--btnTextColor: theme('colors.white');
	--btnHoverColor: theme('colors.gray.400');
	--iconColor: theme('colors.white');
	--color-type-headline-default: theme('colors.white');
	--color-type-subhead-default: theme('colors.white');
	--color-pg-header-text: theme('colors.white');
	--color-pg-header-headline: theme('colors.white');
	--color-pg-header-subhead: theme('colors.white');
	
}