@layer components {
	.cta {
		/* These classes must stay in order to ensure functionality */
		position: relative;
		/* The default classes and style below can be changed on a per-project basis */
		margin-top: var(--spacing-base);	
		overflow: hidden;
		color: var(--color-section-text);
		background-color: var(--color-section-background);
		
		&:first-child {
			margin-top: 0;
		}

	}

	.cta-content {
		padding: var(--spacing-base);
	}

	.cta-inner {
		display: flex;
		content-align: center;
		align-items: stretch;
		flex-wrap: wrap;
	}

	.cta-content {
		display: flex;
		align-items: center;
		justify-content: center;
		aspect-ratio: 3/1;
	}
}


