/**
* components/form.css
*
*Form Block component specific styles
*
*/

@layer components {

	.form-block {
		/* These classes must stay in order to ensure functionality */
		position: relative;
		/* The default classes and style below can be changed on a per-project basis */
		margin-top: var(--spacing-base);
		
		&:first-child {
			margin-top: 0;
		}
	}
		
	.form-row {
		display: grid;
        justify-content: center;
		margin-top: var(--spacing-base);
		gap: var(--spacing-base);
		align-items: stretch;	
        position: relative;
        grid-template-columns: repeat(12, 1fr); 
				
		&:first-child {
			margin-top: 0;
		}

		.form-field-wrapper {
			grid-column: span 12;
		}

		&[data-fui-field-count="2"] .form-field-wrapper {
			grid-column: span 6;
			
			@media (max-width: 640px) {
				grid-column: span 12;
			}
		}

		&[data-fui-field-count="3"] .form-field-wrapper {
			grid-column: span 4;
			
			@media (max-width: 640px) {
				grid-column: span 12;
			}
		}

		&[data-fui-field-count="4"] .form-field-wrapper {
			grid-column: span 3;
			
			@media (max-width: 640px) {
				grid-column: span 12;
			}
		}
	}

	.form-label {		
		@apply mb-2;
		display: block;
		font-weight: bold;
	}
	
	.form-field-input {
		padding: var(--form-field-padding);
		display: block;
		width: 100%;		
		font-size: 100%;		
		margin-top: var(--spacing-half);
		color: var(--color-form-input-text);
		background-color: var(--color-form-input-bg);
	}

	textarea.form-field-input {
		height: 10vh;
		min-height: 250px;
	}
	
	.form-checkbox, .form-radio {		
		width: 2rem;
		height: 2rem;
		color: var(--color-form-input-text);
		background-color: var(--color-form-input-bg);
	}
	
	.form-radio {
		border-radius: 50%;
	}
	
	fieldset > legend + div {
		margin-top: var(--spacing-half);
	}
	
	.iti {
		margin-top: var(--spacing-half);
		width: 100%;
	}
	
	.form-dropdown {
		padding: var(--form-field-padding);		
		display: block;
		width: 100%;		
		font-size: 100%;		
		margin-top: var(--spacing-half);
		line-height: inherit;
		color: var(--color-form-input-text);
		background-color: var(--color-form-input-bg);		
	}
	
	.form-btn-wrapper {
		margin-inline: 1rem;		
		
		&:first-child {
			margin-left: 0px;
		}
		
		&:last-child {
			margin-right: 0px;
		}
	}
	
	.alert-error {
		font-weight: bold;
		padding: var(--spacing-base);
		margin-bottom: var(--spacing-base);
		color: var(--color-form-error-block-text);
		background-color: var(--color-form-error-block-bg);	
	}
	
	.field-error {
		margin-top: var(--spacing-half);
		color: var(--color-form-field-error-text);	
	}
	
	.alert-success {
		font-weight: bold;
		padding: var(--spacing-base);
		margin-bottom: var(--spacing-base);
		color: var(--color-form-success-block-text);
		background-color: var(--color-form-success-block-bg);		
	}

}