/**
* components/form.css
*
*Form Block component specific styles
*
*/

@layer components {

	.form-block {
		/* These classes must stay in order to ensure functionality */
		position: relative;
		/* The default classes and style below can be changed on a per-project basis */
		margin-top: var(--spacing-scaling-base);
		
		&:first-child {
			margin-top: 0;
		}
	}
		
	.form-row {
		display: flex;
		flex-wrap: wrap;
		margin-top: var(--spacing-scaling-base);
		margin-left: var(--spacing-neg-scaling-base);
		margin-right: var(--spacing-neg-scaling-base);
		
		&:first-child {
			margin-top: 0;
		}
	}
	
	.form-field-wrapper {
		width: 100%;
		padding-left: var(--spacing-scaling-base);
		padding-right: var(--spacing-scaling-base);
		
		@media (min-width: theme('screens.md')) {
			flex: 1 1 0%;
		}
	}
	
	.form-label {		
		@apply mt-2;
		display: block;
		font-weight: bold;
	}
	
	.form-field-input {
		padding: var(--spacing-base);
		display: block;
		width: 100%;
		border-width: 2px;
		font-size: 100%;		
		margin-top: var(--spacing-half);
		color: var(--color-form-input-text);
		background-color: var(--color-form-input-bg);
	}

	textarea.form-field-input {
		height: 10vh;
		min-height: 250px;
	}
	
	.form-checkbox, .form-radio {		
		width: 2rem;
		height: 2rem;
		color: var(--color-form-input-text);
		background-color: var(--color-form-input-bg);
	}
	
	.form-radio {
		border-radius: 50%;
	}
	
	fieldset > legend + div {
		margin-top: var(--spacing-half);
	}
	
	.iti {
		margin-top: var(--spacing-half);
		width: 100%;
	}
	
	.form-dropdown {
		padding: var(--spacing-base);		
		display: block;
		width: 100%;
		border-width: 2px;
		font-size: 100%;		
		margin-top: var(--spacing-half);
		line-height: inherit;
		color: var(--color-form-input-text);
		background-color: var(--color-form-input-bg);		
	}
	
	.form-btn-wrapper {
		margin-inline: 1rem;		
		
		&:first-child {
			margin-left: 0px;
		}
		
		&:last-child {
			margin-right: 0px;
		}
	}
	
	.alert-error {
		font-weight: bold;
		padding: var(--spacing-scaling-base);
		margin-bottom: var(--spacing-scaling-base);
		color: var(--color-form-error-block-text);
		background-color: var(--color-form-error-block-bg);	
	}
	
	.field-error {
		margin-top: var(--spacing-half);
		color: var(--color-form-field-error-text);	
	}
	
	.alert-success {
		font-weight: bold;
		padding: var(--spacing-scaling-base);
		margin-bottom: var(--spacing-scaling-base);
		color: var(--color-form-success-block-text);
		background-color: var(--color-form-success-block-bg);		
	}

}