@layer components {
	.icon-layout {
		display: flex;		
		gap: 3rem;
	}
	
	.icon-wrapper {
		display: flex;		
		color: var(--color-icon-single-color);
		width: 100%;
		justify-content: center;
		align-items: center;	
		
		svg, i {
			width: 8rem;
			height: 8rem;
			font-size: 8rem;
			line-height: 1;
			display: block;			
			fill: currentColor;
		}
		
	}

	.icon-content-wrapper {		
		
		/* class specific to icon block headline, adjust accordingly */
		text-align: center;
	}


	/* Layout for this block type is based upon layout size, the following styles */
	
	.icon-block-vertical {
		flex-direction: column;	

		.icon-content-wrapper {
			text-align: center;
			
		}

		.button-group {
			@apply justify-center;
		}
	}

	.icon-block-horizontal {
		@apply flex-col justify-center items-center @lg:flex-row @lg:justify-start @lg:items-start; 
		
		
		/* the width settings on the icon-wrapper class take into account the different icon size settings and the built in padding of 1.5 rem on one side. If you change the base icon sizes in the css, you need to adjust these sizes accordingly. */
		
		.icon-wrapper {
			@apply w-[8rem];
			
			&.icon-large {
				@apply w-[12rem];
			}
			
			&.icon-small {
				@apply w-[4rem];
			}
		}
		
			
		.icon-content-wrapper {
			@apply text-center @lg:text-left;
			
		}

		.button-group {
			@apply justify-center @lg:justify-start;
		}
		
		
	}


}