/**
 * components/page-section.css
 *
 * Standard Section component specific styles
 *
 */
@layer components {

   .section-standard {
      /* These classes must stay in order to ensure functionality */   
      position: relative;
      width: 100vw;
      margin: 0;         
      /* The default classes and style below can be changed on a per-project basis */
      color: var(--color-section-text);
      background-color: var(--color-section-background);      
   }

   .section-inner {
      padding-inline: var(--spacing-section-x-base);
      padding-block: var(--spacing-section-y-base);
   }

   /* SIDE BYSIDE PHOTO SECTION */

   .section-side-media {
      /* These classes must stay in order to ensure functionality */     
      width: 100vw;
      margin: 0;   
      /* The default classes and style below can be changed on a per-project basis */
      color: var(--color-section-text);
      background-color: var(--color-section-background);
      display: grid;
      justify-content: center;
      align-items: stretch;	
      position: relative;      
      grid-template-columns: repeat(12, 1fr);        
      gap: var(--spacing-base);      
   }

   
   .side-media-content {
      @apply col-span-12 @md:col-span-6;     
      position: relative;
      padding-inline: var(--spacing-section-x-base);
      padding-block: var(--spacing-section-y-base);
      align-self: center;
   }

   .side-media-media {
      @apply col-span-12 @md:col-span-6; 
      position: relative;
      /*aspect-ratio: 16/9;
      overflow: hidden; */  
   }
   
}



