/**
 * components/page-section.css
 *
 * Standard Section component specific styles
 *
 */
@layer components {

   .section-standard {
      /* These classes must stay in order to ensure functionality */   
      position: relative;
      width: 100vw;
      margin: 0;
         
      /* The default classes and style below can be changed on a per-project basis */
      
   }

   .container-inner {
      padding: var(--spacing-scaling-base);
   } 

   /* SIDE BYSIDE PHOTO SECTION */

   .section-side-photo {
      /* These classes must stay in order to ensure functionality */
      position: relative;
      width: 100vw;
      margin: 0;   
      /* The default classes and style below can be changed on a per-project basis */
   }

   .side-section-layout {
      display: flex;
      justify-content: center;
      align-items: stretch;
      flex-wrap: wrap;
   }

   .side-photo-content {
      @apply w-full @md:w-1/2;
      display: flex;
      align-items: center;
      overflow: hidden;
      position: relative;
   }

   .side-photo-content-wrapper {
      width: 100%;
      /*padding: theme('spacing.normal');*/
      position: relative;
      z-index: 10;   
   }

   .side-photo-img {
      @apply w-full @md:w-1/2;
      position: relative;   
   }

   @container (width >= theme('containers.xl')) {
      .side-photo-content-wrapper {
         max-width: calc(100% - ((100vw - 1280px)/2));  
      }
   }

   @container (width >= theme('containers.2xl')) {
      .side-photo-content-wrapper {
         max-width: calc(100% - ((100vw - 1536px)/2));  
      }
   }

   .fullwidth .side-photo-content-wrapper {
      width: 100%;  
   }


}



