@layer components {

	.page-header {
		width: 100vw;
		position: relative;	
		background-color: var(--color-pg-header-bg);	
	}

	.page-header-layout {
		width: 100%;
		display: flex;
		padding-block: var(--spacing-section-y-base);		
		padding-inline: var(--spacing-section-x-base);		
		text-align: center;
		justify-content: center;
		align-items: center;
		position: relative;
		z-index: 10;
		flex-direction: column;	
	}

	.page-header-photo-wrapper {
		width: 100vw;
		position: relative;			
		z-index: 1;
	}

	

	.page-header-headline {
		font-weight: bold;
		font-size: var(--text-4xl);	
		color: var(--color-pg-header-headline);
	}

	.page-header-subhead {
		margin-top: var(--spacing-half);
		font-weight: bold;
		font-size: var(--text-xl);
		color: var(--color-pg-header-subhead);
	}

	.page-header-headline + .page-header-subhead {
		margin-top: 0;
	}

	.page-header-subhead + .page-header-headline {
		margin-top: 0;
	}

	.page-header-intro {
		max-width: var(--prose);
		margin-top: var(--spacing-half);
		font-size: var(--text-xl);
		color: var(--color-pg-header-text);
	}

}