.pagination {
	width: 100%;
	padding-top: theme('spacing.normal');	
	display: flex;
	flex-wrap: nowrap;
	justify-content: start;
	align-items: center;
	
	.current {
		font-weight: bold;
	}
}

.pagination-pages, .pagination-pages-abbreviated {
	margin-right: 2rem;
	
	a, span {
		margin-left: 1rem;
		
		&:first-child {
			margin-left: 0;
		}
	}
}

.btn.btn-pagination {
	display: inline-flex !important;
	justify-content: start;
	align-items: center;
	flex-wrap: nowrap;
	
	i {
		display: block;
		font-size: 60%;
		margin-left: 0.5em;
		margin-right: 0.5em;
	}
	
	span {
		display: block;
	}
}