/**
*
* Repeater component specific styles
*
*/

@layer components {
 
	.repeater {
		/* These classes must stay in order to ensure functionality */
		position: relative;
		/* The default classes and style below can be changed on a per-project basis */
		margin-top: var(--spacing-base);
		
		&:first-child {
			margin-top: 0;
		}
	}

	.repeater-date {
		font-style: italic;
		font-size: var(--text-sm);
	}

	.full-listing-btn-wrapper {
		display: flex;
		margin-top: var(--spacing-base);
	}

	/* TEXT LIST */

	.repeater-list-text {
		list-style: none;
	}
	
	li.repeater-list-text-item {
		
	}

	.multi-column-list {
		p, li {
			break-inside: avoid-column;
		}
	}

	.repeater-list-text-item-header {	
		font-weight: bold;		
		font-size: var(--text-lg);
		color: var(--color-repeater-item-header);
	}

	/* CARD LISTS */

	.repeater-list-card-wrapper {
		/*
		display: flex;
		flex-wrap: wrap;	
		margin-inline: var(--spacing-neg-half);
		*/
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		gap: var(--spacing-half);
		justify-content: start;
		align-items: stretch;
	}

	.repeater-slider.repeater-slider-multi {

		.repeater-card {
			/* this class sets up the spacing. Sizing is handled in the template itself by adding classes to control the number of items per row */
			padding: var(--spacing-half);			
		}

		.swiper-slide {
			background-color: transparent;
		}
	} 

	.repeater-card-inner {
		/* this class makes the cards look like cards. Add padding here to create a frame around card content if you don't want images to go to the edge of the card */
		width: 100%;
		height: 100%;
		display: block;
		background-color: var(--color-repeater-card-bg);
		box-shadow: 0px 0px 2px rgba(0,0,0,0.4);
		position: relative;		
	}

	.repeater-list-card-header {		
		font-size: var(--text-xl);
		color: var(--color-black);
		margin-top: var(--spacing-quarter);		
	}

	a.repeater-card-inner {
		transition: transform 1s cubic-bezier(0.075, 0.82, 0.165, 1);	
			
		&:hover {
			transform: scale(1.05);	
			
			.repeater-list-card-header {
				color: var(--color-repeater-item-header-hover);
			}
		}
	}

	.repeater-card-content {
		/* this class wraps the text content of the card. Add padding to create space around the text, or if padding on the card-inner class to make a frame, set the padding to 0 to make the text flush with images */
		padding: var(--spacing-base);	 	
	}

}

