/**
* components/tab-set.css
*
*Tab Set component specific styles
*
*/

@layer components {

	.tab-set {
		/* These classes must stay in order to ensure functionality */
		
		/* The default classes and style below can be changed on a per-project basis */
		margin-top: var(--spacing-base);
	}

	.tab-list {
		display: flex;
		align-items: stretch;
		
		li {
			margin-top: 0;
			margin-left: 2px;
			
			&:first-child {
				margin-left: 0;
			}
		}
	}

	.tab-set-btn {
		display: inline-flex;	
		text-transform: uppercase;
		font-weight: bold;		
		padding: var(--spacing-base);
		transition: color 0.5s cubic-bezier(0.075, 0.82, 0.165, 1), background-color 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
		color: var(--color-link);
		background-color: var(--color-transparent);	
		cursor: pointer;	

		
		/* styles for icons above the text in the button */
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		text-align: center;	
		
		
		.tab-icon {
			width: 2rem;
			height: 2rem;
			margin-left: auto;
			margin-right: auto;
			margin-bottom: var(--spacing-half);
			color: var(--color-link);
			
			svg, i {			
				display: block;
				fill: currentColor;
				width: 2rem;
				height: 2rem;			
			}
			
			i {
				font-size: 2rem;
			}
		}	
				
		span {
			display: block;
		}

		&:hover {
			color: var(--color-link-hover);
			background-color: var(--color-transparent);
			
			.tab-icon {
				color: var(--color-link-hover);
			}
		}

		&.tab-active {
			color: var(--color-accent1);
			background-color: var(--color-bg-alt);
			
			.tab-icon {
				color: var(--color-accent1);
			}
		}
	}

	.tab-panel {
		padding: var(--spacing-base);
		color: var(--color-text);
		background-color: var(--color-bg-alt);
	}


	/* NESTED TABS */

	.accordion, .tab-panel {
		
		.tab-panel {
			background-color: var(--color-bg-primary);		
		}

		.tab-set-btn {

			&.tab-active {			
				background-color: var(--color-bg-primary);				
			}
		}
		
	}

}