/**
* components/tab-set.css
*
*Tab Set component specific styles
*
*/

@layer components {

	.tab-set {
		/* These classes must stay in order to ensure functionality */
		
		/* The default classes and style below can be changed on a per-project basis */
		margin-top: var(--spacing-base);
	}

	.tab-list {
		display: flex;
		align-items: stretch;
		
		li {
			margin-top: 0;
			margin-left: 2px;
			
			&:first-child {
				margin-left: 0;
			}
		}
	}

	.tab-set-btn {
		display: inline-flex;	
		text-transform: uppercase;
		font-weight: bold;		
		padding: var(--spacing-base);
		transition: color 0.5s cubic-bezier(0.075, 0.82, 0.165, 1), background-color 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
		color: var(--color-tab-btn-text);
		background-color: var(--color-tab-btn-bg);		

		
		/* styles for icons above the text in the button */
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		text-align: center;	
		
		
		.tab-icon {
			width: 5rem;
			height: 5rem;
			margin-left: auto;
			margin-right: auto;
			margin-bottom: var(--spacing-half);
			color: var(--color-tab-btn-icon);
			
			svg, i {			
				display: block;
				fill: currentColor;
				width: 5rem;
				height: 5rem;			
			}
			
			i {
				font-size: 5rem;
			}
		}	
				
		span {
			display: block;
		}

		&:hover {
			color: var(--color-tab-btn-text-hover);
			background-color: var(--color-tab-btn-bg-hover);
			
			.tab-icon {
				color: var(--color-tab-btn-icon-hover);
			}
		}

		&.tab-active {
			color: var(--color-tab-btn-text-active);
			background-color: var(--color-tab-btn-bg-active);
			
			.tab-icon {
				color: var(--color-tab-btn-icon-active);
			}
		}
	}

	.tab-panel {
		padding: var(--spacing-base);
		color: var(--color-tab-panel-text);
		background-color: var(--color-tab-panel-bg);
	}
}