/**
 * components/typography.css
 * 
 * Typography rules. 
 *
 */

/* set up default spacing between headers, subheads, etc. */

@layer components {

	/* HEADINGS */

	.subhead {
		display: block;
	}

	.subhead + .header-main-text {
		margin-top: var(--spacing-half);
	}

	.header-main-text + .subhead {
		margin-top: var(--spacing-half);
	}

	.heading + p {
		/* use this selector for each header class you create to adjust the spacing between the header/subhead and the first content paragraph below it. */
		margin-top: var(--spacing-half);
	}


	/* site specific headline and subhead styles - can be overriden by adjustments */

	.headline-default {
		font-family: sans-serif;
		font-weight: bold;
		font-size: var(--text-4xl);
		line-height: var(--text-4xl--line-height);
		color: var(--color-type-headline-default);
	}

	.subhead-default {
		font-family: sans-serif;
		font-weight: bold;
		font-size: var(--text-2xl);
		color: var(--color-type-subhead-default);
	}

	

	/* PARAGRAPHS AND LISTS */

	p, ul, ol {
		margin: 0;
		margin-top: var(--spacing-base);
		/*max-width: var(--prose);*/    

		& > li {	 
			margin: 0;
			margin-top: var(--spacing-base);
		}

		ul, ol {
			margin-bottom: 0;
		}
	}

	#main {
		.text-center {
			&> p, &> ul, &>ol {
				margin-left: auto;
				margin-right: auto;
			}
		}
		
		p.text-center {
			margin-left: auto;
			margin-right: auto;
		}
	}

	ul.bullet-list {	 
		list-style-type: none;
		list-style-position: outside;
			
		.list-item-content {
			display: block; 
		}
		
		& > li {
		justify-content: start;
		list-style-type: none;
		list-style-position: outside;
		align-items: start;
		margin-left: 2.5em;
		margin-top: var(--spacing-quarter);
		}
		
		li::before {
		content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
			/*display: inline-block; /* Needed to add space between the bullet and the text */
			/*width: 1em; /* Also needed for space (tweak if needed) */
		margin-left: -2.5em;
		margin-right: 0.125em;      
		}
	}

	ul.lined-list {
		li {
			padding-top: var(--spacing-half);
			border-top: solid 1px;
		
			&:first-child {
			border-top: none;
			}      
		}
	}

	ol {	 
		list-style-type: decimal;
		list-style-position: outside;
		margin-left: 1.1em;
	}

    
    /* TEXT WRAP */
        
    .text-wrap-left {       
        float: left;
        margin-right: var(--spacing-base);
        margin-bottom: var(--spacing-base);		
    }
    
    .text-wrap-right {
        float: right;
        margin-left: var(--spacing-base);
        margin-bottom: var(--spacing-base);					
    }
    
    .text-wrap-none {
        float: none;		
    }

    [class*='text-wrap-left']:first-child + p {
        margin-top: 0;
    }
   
    [class*='text-wrap-right']:first-child + p {
        margin-top: 0;
    }
	

}
