{%- set siteGlobals = craft.globalSets()
.handle('gSettings')
.with(['thumbnailPlaceholderImage'])
.one()
-%}

{%- set coSocialLinks = craft.globalSets()
.handle('companyInfo')
.with(['socialLinks'])
.one()
-%}


{% do craft.app.elements.eagerLoadElements(
 className(entry),
 [entry],
 ['modalBuilder', 'modalBuilder.column:backgroundImage', 'modalBuilder.columnHalf:backgroundImage', 'modalBuilder.contentWrapper:backgroundImage', 'modalBuilder.accordion:backgroundImage', 'modalBuilder.tabSet:backgroundImage', 'modalBuilder.image:imageAsset', 'modalBuilder.contentVideo:imageAsset']
) %}
<div id='modal-description' class='sr-only'>{{entry.excerpt}}</div>
<h1 id="modal-title" tabindex='-1'>{{entry.title}}</h1>
<div id="modal-content-inner-wrapper">
{% for block in entry.modalBuilder %}
	{% do block.useMemoized(entry.modalBuilder) %}
{% endfor %}

{% for block in entry.modalBuilder if block.level == 1 %}
	{% include [
	'bodyblocks/project/containers/' ~ block.type.handle,
	'bodyblocks/_core/containers/' ~ block.type.handle,
	'bodyblocks/project/containers/container',
	'bodyblocks/_core/containers/container'
  ] with { 'container' :  block } %}  
{% endfor %}
</div>