{#
/**
 * Tilt Boilermaker - Generic Select Entry Repeater Block Template
 * -----
 * 
 * 
 * @author    TILT, LLC <support@tiltbuilt.com>
 * @copyright Copyright (c) 2019, TILT, LLC
 * @link      https://tiltbuilt.com
 */
#}

{# Load in global macros for use across all Twig templates #}
{% import '_boilerplate/_macros/globalMacros' as gMacros %}

{# Set block id attribute value #}
{% if repeater.customId is defined and repeater.customId != '' %}
	{% set blockId = repeater.customId %}
{% else %}
	{% set blockId = repeater.type.handle ~ '-' ~ repeater.id %}	
{% endif %}

{# Set block type handle as class name for styling #}
{% set blockClass = 'repeater ' ~ repeater.type.handle %}
{% set innerClass = 'inner ' ~ repeater.type.handle ~ '-inner' %}


{#
  ----
  Prepare the query parameters
  -----
#}

{%
  set orderOptions = {
	'dd' : 'postDate desc',
	'da' : 'postDate asc',
	'r'  : 'RAND()',
	'az' : 'title asc',
	'za' : 'title desc',
	'so' : '',
  }
%}
{% set listOrder = repeater.listOrder is defined and repeater.listOrder|length ? repeater.listOrder.value : null %}

{% if listOrder|length %}
  {% set listOrder = listOrder in orderOptions|keys ? orderOptions[listOrder] : null %}
{% endif %}

{% if repeater.listSpecificEntries|length %}
  {% if listOrder != null %}
	  {% set itemList =  repeater.listSpecificEntries.orderBy(listOrder).with(['seoImage']).collect() %}
  {% else %}
	  {% set itemList =  repeater.listSpecificEntries.with(['seoImage']).collect() %}
  {% endif %}
{% endif %}

{% if repeater.itemsPerRow|length %}
	{% set repeaterRowCount = repeater.itemsPerRow %}	
{% else %}
	{% set repeaterRowCount = 1 %}
{% endif %}

{% if repeater.dateFormat is not empty %}
	{% set dateFormat = repeater.dateFormat %}	
{% else %}
	{% set dateFormat = null %}	
{% endif %}


{# create arrays to collect style changes to primary element and inner and bg #}
{% set styleClasses = [] %}
{% set outerClasses = ['elem-block', colorScheme, repeater.topMargin, repeater.bottomMargin] %}

{# Get the component's "Custom Class List" setting, thru which arbitrary classes can be added to the component #}
{% set customClassString = (block['customClassList'] is defined ? repeater.customClassList : null) %}

{# set animation classes for reveal #}

{% set revealClass = [] %}
{% if repeater.revealAnimation == 'anim-child' %}	
	{% if repeater.animateChildren is not empty %}
		{% if repeater.animateChildren == true %}
			{% set revealClass = revealClass|merge(['anim-pass']) %}			
		{% else %}
			{% set revealClass = revealClass|merge([repeater.revealAnimation]) %}		
		{% endif %}
	{% else %}
		{% set revealClass = revealClass|merge([repeater.revealAnimation]) %}
	{% endif %}	
{% else %}
	{% if repeater.animateChildren is not empty %}
		{% if repeater.animateChildren == true %}
			{% set revealClass = revealClass|merge(['anim-parent']) %}
			{% if repeater.staggerChildReveals is not empty %}
				{% if repeater.staggerChildReveals == true %}
					{% set revealClass = revealClass|merge([repeater.revealAnimation ~ '-stagger']) %}
				{% else %}
					{% set revealClass = revealClass|merge([repeater.revealAnimation]) %}
				{% endif %}
			{% endif %}			
		{% else %}
			{% set revealClass = revealClass|merge(['anim-elem', repeater.revealAnimation]) %}		
		{% endif %}
	{% else %}
		{% set revealClass = revealClass|merge(['anim-elem', repeater.revealAnimation]) %}
	{% endif %}			
{% endif %}
{% set outerClasses = outerClasses|merge(revealClass) %}

{# OUTPUT #}

<div {{ gMacros.buildElementAttributes(blockId, blockClass, outerClasses, customClassString) -}}> 	
	
	<div class="{{innerClass}}">				
		
		{% if itemList|length %}
						
			{#
			  Add data for each entry to the repeaterData map we'll send to the
			  Repeater Template for rendering.
			#}
			{% set repeaterData = [] %}
			{% for item in itemList %}
			  {% set repeaterData = repeaterData|merge([item]) %}
			{% endfor %}
			  
			  {# determine list display style setting and include necessary list template #}
		
			{% set repeaterTemplateHandle = repeater.listItemDisplayStyle %}    
						
			  {%
				include [
				  '_project/_bodyblocks/repeaters/templates/' ~ repeaterTemplateHandle,
				  '_boilerplate/_bodyblocks/repeaters/templates/' ~ repeaterTemplateHandle,
				] with {'repeaterData' : repeaterData, 'repeaterHeadingLevel' : repeater.listItemHeadingLevel, 'repeaterShowExcerpt' : repeater.showExcerpt, 'repeaterShowDate' : repeater.showPostDate, 'repeaterRowCount': repeaterRowCount, 'buttonStyle': repeater.buttonStyle, 'buttonSize': repeater.buttonSize, 'dateFormat': dateFormat}
			  %}
		
							
		{% else %}
			<div class="list-no-items">
				  <b>No items found.</b>
			</div>
		{% endif %}			
	</div>		  				
	     
</div>