{#
/**
 * Tiltrus - Section - Default
 * -----
 *
 * @author    TILT, LLC <support@tiltbuilt.com>
 * @copyright Copyright (c) 2019, TILT, LLC
 * @link      https://tiltbuilt.com
 * @package   tiltrus
 */
#}

{# Load in global macros for use across all Twig templates #}
{% import 'bodyblocks/_core/_macros/globalMacros' as gMacros %}
{# Load in _core Tiltrus Element Display Controls macros #}
{% import 'bodyblocks/_core/_macros/edcMacros' as edcMacros %}
{# Optionally load in project-specific EDC macro overrides #}
{# {% import '_tiltrus/_project/edcMacros' as edcMacros %} #}


{# Set block id attribute value #}
{% if section.customId is defined and section.customId != '' %}
	{% set blockId = section.customId %}
{% else %}
	{% set blockId = 'section-' ~ section.id %}
{% endif %}

{# Set block type handle as class name for styling #}
{% set blockClass = section.type.handle %}


{# Get styling classes for block and assemble as class string #}
{% set stylingClasses = [] %}
{% if section.contentAlignment is defined %}
	{% set stylingClasses = stylingClasses|merge([section.contentAlignment]) %}
{% endif %}


{# add background color class to stylingClasses if it isn't empty #}

{% if section.backgroundColor is defined and section.backgroundColor != '' %}
	{% set stylingClasses = stylingClasses|merge([section.backgroundColor]) %}
{% endif %}

{% if section.textStyling is defined %}
	{% set stylingClasses = stylingClasses|merge(section.textStyling) %}
{% endif %}
  
{# Get the component's "Custom Class List" setting, thru which arbitrary classes can be added to the component #}
{% set customClassString = (section['customClassList'] is defined ? section.customClassList : null) %}

<section {{ edcMacros.buildElementAttributes(blockId, blockClass, stylingClasses, customClassString) -}}>

  <div class="inner">
	{% for child in section['children'] %}

	  {#-
		For each child component, attempt to load a custom template for the
		component handle from the project's files,
		then the same template from the core Tiltrus files,
		then a custom default template from the project,
		and finally the default template for this component type from the core Tiltrus files.
	  -#}
	  {% if child.type.handle starts with 'container' %}
		{%
		  include [
			'bodyblocks/project/containers/' ~ child.type.handle,
			'bodyblocks/_core/containers/' ~ child.type.handle,
			'bodyblocks/project/containers/container',
			'bodyblocks/_core/containers/container'
		  ] with { 'container' :  child }
		%}	  
	  {% endif %}

	{% endfor %}
  </div>
  
  {% if section.backgroundImage|length != 0 %}
  	{% set bgAsset = section.backgroundImage[0] %}
  	{{ edcMacros.buildElementBackground(bgAsset, section.backgroundOpacity, section.backgroundSize, section.backgroundRepeat, section.backgroundPosition, {'default': '100vw'}) }}
  {% endif %}
 
</section>