/**
 * components/accordion.css
 *
 * Accordion and Accordion Set component specific styles
 *
 */
 
 .accordion {
	overflow: hidden;
	
	& > h1, & > h2, & > h3, & > h4, & > h5, & > h6 {
		padding: 0px;
		margin: 0px;
		display: block;
		width: 100%;	
	}
	
	.accordion-button {		
		/* Add/change styles in the apply list of the class rule itself to customize the appearance of the accordion button on a per-project basis */
		@apply m-0 text-left relative pl-16 py-3 pr-3 uppercase text-xl;
		
		.accordion-icon {
			@apply absolute p-4;
			top: 0px;
			left: 0px;
			height: 100%;
			width: auto;			
			transition: color 0.3s;

			svg {
				height: 24px;
				width: 24px;
				transition: transform 0.3s;
			}
		}
		
		&:hover {
			 
			/* Add hover styles here for the accordion button and the accordion icon */
			 
			.accordion-icon {
				
			}
		}
		
		&.expanded {
			
			/* Add/change styles here to customize the appearance of the accordion button when the accordion is expanded */
			
			.accordion-icon {
				
				/* Add/change styles here to customize the appearance of the accordion icon when the accordion is expanded */
	
				svg {
					transform: rotate(90deg);
				}
			}
	
			&:hover {
				 /* Add/change styles here to customize the hover appearance of the accordion icon when the accordion is expanded */
	
				.accordion-icon {
					
				}
			}
		}

	}
	 
	.accordion-panel {
		overflow: hidden;
		width: 100%;
		max-height: 0px;
		transition: max-height 0.5s ease-in-out;
		
		&.expanded {			
			max-height: 10000px;
		}
	}
 }