/**
 * components/button.css
 *
 * Button and button group component specific styles
 * 
 This file contains the styles to handle the display of the buttons on the site. Feel free to make any adjustments as needed. The class names used in the site's buttonStyling field need to be represented here.
 *
 */
 
 .btn {
	@apply inline-block py-4 px-8 uppercase font-semibold text-center;
	border-radius: 0.4rem;
	line-height: 1;
	transition: opacity 0.3s ease-in;
	text-shadow: none !important;
	
	&:hover {
		/* place general hover styles for all buttons here */
		opacity: 0.7;
	}
	
	/* add specific button classes here, starting each class selector with an '&' for example &.btn-blue. include hover styles inside those selectors for any hover styles that are specific to that particular button class */
	
	&.btn-lg {
		@apply text-xl py-5 px-10;
	}
	
	&.btn-sm {
		@apply text-sm py-3 px-6;
	}
	
	&.btn-fullwidth {
		@apply w-full mb-half;
		
		&:last-child {
			@apply mb-0;
		}
	}
	
 }
 
 /* if group is set you have buttons be full width on mobile, apply styling */	
 
 @media (max-width: 767px) {
	.btn-mobile-fullwidth .btn {
		@apply w-full;
	} 
 }
 
 
 /* styles for button groups */
 
 .buttonGroup {	
	 
	/* apply spacing between buttons depending on group alignment. To change, just change the class being applied */ 
	&.text-left {
		.btn {			
			@apply mr-2;
		}
	} 
	
	&.text-right {
		.btn {			
			@apply ml-2;
		}
	}
	
	&.text-center {
		.btn {			
			@apply mx-1;
		}
	} 
	  
	/* if group is set you have buttons be full width on mobile, apply spacing */	
	&.btn-mobile-fullwidth {
		.btn {
			@media (max-width: 767px) {
				@apply mb-half mx-0;
			}
			
			&:last-child {
				@media (max-width: 767px) {
					@apply mb-0;
				}
			}
		}
	}
 }