/**
 * components/column.css
 *
 * Column component specific styles
 *
 */
 
 .column, .columnHalf, .columnMain, .columnSidebar {
	 position: relative;
	 overflow-x: hidden;
 }
 
 .columnGoogleMap {
     position: relative;
     
     .inner {
         min-height: 100%;
     }
     
     .gmap-wrapper {
         @apply absolute inset-0;
     } 
  }