/**
 * components/global.css
 *
 * Project-wide styles
 *
 */
 

/* set up style for inner div that places content above background divs */

.inner {
    position: relative;
    z-index: 10;    
}

/* set up styles for row element */

.row {
    @apply flex flex-wrap;
}

/* base line height for headers */
.header-mainHeading {
  line-height: 1.1;
}


/* set up basic styles for background element */

.background {
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
}

/* IMAGE WRAPS */

.image-wrap-left {
    @apply float-left mr-normal mb-normal;
}

.image-wrap-right {
    @apply float-right ml-normal mb-normal;
}

/* GENERAL TEXT STYLES */

#main.main {
  p, ul, ol {
    @apply mb-normal;   
    
    &:last-child {
      @apply mb-0;
    }
    
    & > li {
      @apply m-0 mb-half;
    }
    
    ul, ol {
      @apply mb-0;
    }
  }
  
  p {
    @apply mt-0 mx-0;
  }
  
  ul {
    @apply mt-0 mr-0;
    list-style-type: none;
    list-style-position: outside;
    margin-left: 1.1em;
    
    li::before {
      content: "\025B8";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
      display: inline-block; /* Needed to add space between the bullet and the text */
      width: 1em; /* Also needed for space (tweak if needed) */
      margin-left: -1em;      
    }
  }
  
  ol {
    @apply mt-0 mr-0;
    list-style-type: decimal;
    list-style-position: outside;
    margin-left: 1.1em;
  }
}

.repeaterEntryChildList, .repeaterContentLinks, .repeaterEntryList, .repeaterSpecificEntryList {
  ul, ol {
    li {
      & > div, & > h1, & > h2, & > h3, & > h4, & > h5, & > h6 {
        display: inline-block;
      }
    }
  }
}

.gmap-wrapper iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
}

.shadow-text {
  text-shadow: 0px 0px 5px rgba(0,0,0,0.7);
}

.share-links {
  
  @apply flex justify-start content-center items-center;
  
  .share-header {
    @apply block uppercase mr-normal text-lg;
  }
  
  a {
    @apply block mr-half text-brand-green;
    transition: color 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    
    &:hover {
      
    }
    
    svg {
      @apply block;
      width: 24px;
      height: 24px;
      fill: currentColor;
    }
  }
}

.text-center > .share-links {
  @apply justify-center;
}

