/**
 * components/icon-content.css
 *
 * Icon Content component specific styles
 * 
 This file contains the styles to handle the display of the Icon and Content component, specifically the handling of icon sizing. This file can be adjusted as necessary for each project
 *
 */
 
 .iconContent {
	
	/* set max width for icon when component is set in vertical mode */
	
	.iconwrapper {
		@apply w-full block mt-0 mb-6 mx-auto relative;
		max-width: 100px;
		height: 0px;
		padding: 100% 0px 0px;
		
		svg {
			width: 100%;
			fill: currentColor;
			position: absolute;
			height: 100%;
			left: 0px;
			top: 0px;
		}
		
		@media (min-width: 768px) {
			max-width: 100px;
		}		
	}
	
	
	/* set up styling for rows and sub-columns for when component is in horizontal mode */
	
	& .row {
		@apply mx-negnormal;
		
		
		/* subcolumn styles for image column and text column widths can be adjusted, but if you adjust margins be sure to change the margin on the row to the corresponding negative setting. */
		
		.iconblock-icon-column {
			@apply w-1/4 px-normal;			
				
			.iconwrapper {
				@apply mb-0;
			}		
			
		}
		
		.iconblock-content-column {
			/*@apply w-3/4;*/
			
			/*
			@media (min-width: 768px) {
				@apply w-3/4;
			}
			
			@media (min-width: 1024px) {
				@apply w-4/5;
			}
			
			@media (min-width: 1280px) {
				@apply w-5/6;
			}
			*/
		}
		
	}
	
 }