/* IMAGE STYLES */

.image-block {
	// These classes must stay in order to ensure functionality
	
	//The default classes and style below can be changed on a per-project basis
	@apply mb-normal lg:mb-2x w-full;
}



//when there's a caption..

.image-caption {
	@apply p-normal text-left text-black italic;	
}

.image-default-bg {
	@apply bg-gray-300;
}