/**
 * components/page-section.css
 *
 * Standard Section component specific styles
 *
 */

.sectionStandard {
	padding: 0px;
	margin: 0px;
	width: 100vw;
	position: relative;
    overflow-x: hidden;
}