/**
 * components/page-footer.css
 *
 * Page Footer Section component specific styles - can be heavily modified
 *
 */

footer.footer {
	padding: 0px;
	margin: 0px;
	width: 100vw;
	position: relative;
	overflow-x: hidden;
}