/**
 * components/page-section.css
 *
 * Standard Section component specific styles
 *
 */

.sectionStandard {
   // These classes must stay in order to ensure functionality
   @apply relative w-screen m-0;   
   //The default classes and style below can be changed on a per-project basis
}

.sectionStandard-default-bg {
   // These classes must stay in order to ensure functionality
   
   //The default classes and style below can be changed on a per-project basis
}

