/**
 * components/page-header.css
 *
 * Page Header Section component specific styles - Can be customized heavilty per project requirements
 *
 */

.pageHeader {
	padding: 0px;
	margin: 0px;
	width: 100vw;
	position: relative;
	overflow-x: hidden;	
		
	
	.page-header-content-wrapper {
		@apply p-normal w-full;
	}
	
	.page-header-image-wrapper {
		@apply w-full p-normal;
		
		@media (min-width: 768px) {
			@apply w-1/2;
		}		
	}
	
	.page-header-image-wrapper + .page-header-content-wrapper {
			
		@media (min-width: 768px) {
			@apply w-1/2;
		}	
		
	}
	
	.breadcrumbs {
		@apply mb-normal;
	}
	
}

.page-header-row {
	@apply flex flex-row flex-wrap mx-negnormal p-0 justify-center items-center content-center;
	min-height: 30rem;
}
	
.pageheader-image {
	width: 100%;
	height: auto;
	display: block;
}

.pageheader-headline {
	@apply text-4xl m-0;	
}

.pageheader-subhead {
	@apply text-2xl mt-0 mb-normal;	
}

.pageheader-content {
	@apply mb-normal;		
}

.pageheader-buttons {
	@apply m-0;
	
	.btn-pageheader {
		@apply mr-half;		
	}
}

		
