/**
 * components/page-section.css
 *
 * Standard Section component specific styles
 *
 */


.row {
	// These classes must stay in order to ensure functionality
	@apply flex flex-wrap md:flex-nowrap;
	//The default classes and style below can be changed on a per-project basis
	// These margin sizes are based off of the padding defaults set on the inner divs for containers.
	@apply mx-negnormal lg:mx-neg2x xl:mx-neg3x;  
}


	