/**
 * components/slider.css
 *
 * Slider Set and Slide component specific styles
 *
 */
 
 .sliderSet {
	overflow: visible;
	position: relative;
	
	.slide {
		overflow: hidden;
		position: relative;		
		//min-height: 40rem;
		min-height: 100%;	
	}
	
	.owl-prev, .owl-next {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		z-index: 10;
		/* add/adjust styles here to control color, etc. of icons for prev and next buttons */		
		transition: color 0.3s ease-in-out;
		
		svg {
			width: 60px;
			height: 60px;
			fill: currentColor;	
			
			&:focus {			
				outline: none !important;
			}
		}
		
		&:focus {			
			outline: none !important;
			
			svg {
				outline: none !important;
			}
		}		
	}
	
	.owl-prev {
		left: 0px;
	}
	
	.owl-next {
		right: 0px;
	}
	
	
	&.hover-white {
		.owl-prev, .owl-next {
			&:hover {
				@apply text-white;
			}
		}
	}
	
	&.hover-black {
		.owl-prev, .owl-next {
			&:hover {
				@apply text-black;
			}
		}
	}
	
	&.hover-gray-700 {
		.owl-prev, .owl-next {
			&:hover {
				@apply text-gray-700;
			}
		}
	}
	
		
	
	/* uncomment the block below to control the styles of the dot set if using dot navigation */
	
	
	.owl-dots {
		position: absolute;
		text-align: center;
		width: 100%;
		left: 0px;
		bottom: 0px;
		padding-bottom: 0.5rem;
		
		.owl-dot {
			width: 10px;
			height: 10px;
			border-radius: 50%;			
			background-color: theme('colors.white');
			margin: 0px 5px;
			transition: background-color 0.3s ease-in-out;
			overflow: visible;
			position: relative;
			
			&::after {
				content: '';
				width: 14px;
				height: 14px;
				background-color: transparent;
				display: block;
				position: absolute;
				border: solid 1px transparent;
				transition: border-color 0.3s ease-in-out;
				left: -2px;
				top: -2px;
				border-radius: 50%;
			}
			
			&.active {
				/* change styling of dot */
				
				&::after {
					/* change styling of border */
				}	
			}	
		}	
	}
}

.sliderSet .owl-stage {
	//display: flex;
	min-width: 100%;
	min-height: 40rem;		
	
	.owl-item {
		min-height: 100%;
				
		.slide, .textImageSlide {
			//display: flex;
			min-width: 100%;
			height: 100%;
			
			& > .inner {				
				width: 100%;
				height: 100%;
				
				& > .row {
					width: 100%;
					min-height: 100%;
				}
			}
		}	
		
	}	
}

