{% if not craft.app.request.isPreview and currentUser %}
	<div id="login-status-bar">
		{#
		{% if ((currentUser.admin) or (currentUser.getGroups()[0].name != 'distributors')) and ((entry is defined and entry.cpEditUrl is defined) or (category is defined and category.cpEditUrl is defined))%}
		<div>
			<a href="{{ entry is defined ? entry.cpEditUrl : category.cpEditUrl }}" target="_blank">Edit this {{ entry is defined ? "entry" : "category" }}</a>
		</div>
		{% endif %}#}
		<div>Logged in as: {{currentUser.username}} - <a href="{{ logoutUrl }}">LOG OUT</a></div>		
	</div>
{% endif %}