{% set alert = craft.entries().section('notificationBarAlerts').orderBy('postDate desc').one() %}
{% if alert %}
	<div class="topbar">
  		<div class="inner">
			<div class="topbar__content">
	  		{{ alert.notificationBarText }}
			</div>
  		</div>
	</div>
{% endif %}