/* THIS FILE SETS BASE STYLES FOR CERTAIN HTML TAGS */


/* SET BASELINE SCREEN SIZE ON HTML TAG AS WELL AS BASELINE FONT SIZE TO 16PX */

 @layer base {

  * {
    box-sizing: border-box;
  }
  
  html {    
    width: 100vw;
    height: 100vh;  
  }
  
  body {
    /*@apply text-base;*/
    font-size: var(--text-base);    
    width: 100vw;
    height: 100vh;
    background-color: var(--color-white);
    color: var(--color-black); 
    overflow-x: hidden;  
    
    & > #page-wrapper {
      width: 100vw;
      min-height: 100vh;
      overflow: hidden;
      position: relative;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      gap: 0;
      align-items: center;
      justify-content: flex-start; 
      
      & > #main {
        flex: 1 0 auto; /* allows main content area to grow and fill available space pushing footer to bottom of viewport if there is not enough content to do so naturally */
        width: 100%;    
      }
    }
  }
  
  a {
    color: var(--color-text-link);
    transition: color 0.3s ease-in;
    
    &:hover {
	  /* put hover styles for standard text links here */
      color: var(--color-text-link-hover);
    }  
  }

  h2, h3, h4, h5, h6 {
		margin-top: var(--spacing-base);
	}
}