/* THIS FILE IS FOR THEME ITEMS THAT ARE MORE GLOBAL AND DON'T TYPICALLY CHANGE FROM PROJECT TO PROJECT */

@theme static {
	
	--prose: 80ch;
	--spacing-text: 1.6vmax;

	/* SECTION PADDING */
	--spacing-section-x-base: 4vw;
	--spacing-section-y-base: 4vmax;
	--spacing-section-x-quarter: calc(0.25 * var(--spacing-section-x-base));
	--spacing-section-y-quarter: calc(0.25 * var(--spacing-section-y-base));
	--spacing-section-x-half: calc(0.5 * var(--spacing-section-x-base));
	--spacing-section-y-half: calc(0.5 * var(--spacing-section-y-base));
	--spacing-section-x-2x: calc(2 * var(--spacing-section-x-base));
	--spacing-section-y-2x: calc(2 * var(--spacing-section-y-base));
	--spacing-section-x-3x: calc(3 * var(--spacing-section-x-base));
	--spacing-section-y-3x: calc(3 * var(--spacing-section-y-base));
	--spacing-section-x-4x: calc(4 * var(--spacing-section-x-base));
	--spacing-section-y-4x: calc(4 * var(--spacing-section-y-base));

	/* FORM INPUT PADDING */
	--form-field-padding: calc(0.3 * var(--spacing-base));

	/* BASE SPACING */	
	--spacing-none: 0;	
	--spacing-base: 1.6vmax;
	--spacing-quarter: calc(0.25 * var(--spacing-base));
	--spacing-half: calc(0.5 * var(--spacing-base));
	--spacing-2x: calc(2 * var(--spacing-base));
	--spacing-3x: calc(3 * var(--spacing-base));
	--spacing-4x: calc(4 * var(--spacing-base));	
	--spacing-neg-quarter: calc(-0.25 * var(--spacing-base));
	--spacing-neg-half: calc(-0.5 * var(--spacing-base));
	--spacing-neg-base: calc(-1 * var(--spacing-base));
	--spacing-neg-2x: calc(-2 * var(--spacing-base));
	--spacing-neg-3x: calc(-3 * var(--spacing-base));
	
	
	/* BREAKPOINTS ADJUSTED FOR 10px BASE SIZE */
	--breakpoint-xs: 320px;
	--breakpoint-sm: 640px;
	--breakpoint-md: 768px;
	--breakpoint-lg: 1024px;
	--breakpoint-xl: 1280px;
	--breakpoint-2xl: 1536px;
	
	
	--container-xs: 20rem;
	--container-sm: 40rem;
	--container-md: 48rem;
	--container-lg: 64rem;	
	--container-xl: 80rem;
	--container-2xl: 96rem;	
	
	/* FONT SIZES */	
	--text-xs: max(0.75rem, 0.75vmax);
	--text-xs--line-height: calc(1 / 0.75);
	--text-sm: max(0.875rem, 0.875vmax);
	--text-sm--line-height: calc(1.25 / 0.875);
	--text-base: max(1rem, 1.2vmax);
	--text-base--line-height: calc(1.5 / 1);
	--text-lg: max(1.3rem, 1.5vmax);
	--text-lg--line-height: calc(1.75 / 1.125);
	--text-xl: max(1.6rem, 1.8vmax);
	--text-xl--line-height: calc(1.75 / 1.25);
	--text-2xl: max(1.8rem, 2.2vmax);
	--text-2xl--line-height: 1;
	--text-3xl: max(2rem, 3vmax);
	--text-3xl--line-height: 1;
	--text-4xl: max(2.4rem, 3.6vmax);
	--text-4xl--line-height: 1;
	--text-5xl: max(2.8rem, 4.2vmax);
	--text-5xl--line-height: 1;
	--text-6xl: max(3.2rem, 4.8vmax);
	--text-6xl--line-height: 1;
	--text-7xl: max(3.6rem, 5.4vmax);
	--text-7xl--line-height: 1;
	--text-8xl: max(4rem, 6vmax);
	--text-8xl--line-height: 1;
	--text-9xl: max(4.4rem, 6.4vmax);
	--text-9xl--line-height: 1;
			
			
	/* ASPECT RATIOS */
	--aspect-video: 16 / 9;
	--aspect-square: 1/1;
	--aspect-4-3: 4/3;
	--aspect-3-2: 3/2;
	--aspect-3-1: 3/1;
	--aspect-2-1: 2/1;
	--aspect-4-1: 4/1;


	/* TRANSITIONS AND ANIMATIONS */
	--ease-in: cubic-bezier(0.4, 0, 1, 1);
	--ease-out: cubic-bezier(0, 0, 0.2, 1);
	--ease-in-out: cubic-bezier(0.4, 0, 0.2, 1);
	--ease-chris: cubic-bezier(0.075, 0.82, 0.165, 1);
	--animate-spin: spin 1s linear infinite;
	--animate-ping: ping 1s cubic-bezier(0, 0, 0.2, 1) infinite;
	--animate-pulse: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
	--animate-bounce: bounce 1s infinite;

	@keyframes spin {
		to {
			transform: rotate(360deg);
		}
	}

	@keyframes ping {
		75%,
		100% {
			transform: scale(2);
			opacity: 0;
		}
	}

	@keyframes pulse {
		50% {
			opacity: 0.5;
		}
	}

	@keyframes bounce {
		0%,
		100% {
			transform: translateY(-25%);
			animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
		}
		50% {
			transform: none;
			animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
		}
	}
	
}