/* THIS FILE IS FOR THEME ITEMS THAT ARE SPECIFIC TO THIS PROJECT */
@theme static {
	
	/* FONT DEFINIONS */
	/* Example: --font-proxima: 'proximanova', sans-serif; */

	
	/* COLOR DEFINITONS */
	/* Example: --color-red-50: oklch(97.1% 0.013 17.38); */
	--color-transparent: transparent;
	--color-black: #000;
	--color-white: #fff;
	--color-red-700: #ef4444;
	--color-red-900: #7f1d1d;
	--color-gray-300: #d1d5db;
	--color-gray-700: #374151;
	--color-green-700: #16a34a;
	--color-green-300: #4ade80; 

	/* MODALS */
	--color-modal-overlay-bg: var(--color-black);
	--color-modal-window-bg: var(--color-white);
	--color-button-modal-close: var(--color-white);
	--color-button-modal-close-hover: var(--color-red-700);
	--color-modal-overlay-opacity: 0.7;

	/* FORMS */
	--color-form-success-block-text: var(--color-white);
	--color-form-success-block-bg: var(--color-green-700);
	--color-form-field-error-text: var(--color-red-700);
	--color-form-error-block-text: var(--color-white);
	--color-form-error-block-bg: var(--color-red-700);

	/* CURTAINS TRANSITIONS */
	--color-curtains-wipe-bg: var(--color-red-700);
}


@layer components {

	/* You can name the color schemeclass names anything you want, but one has to also have a classname of .color-theme-default, and one has to have a name of .color-theme-page-header-default. */
	
	.color-theme-light, .color-theme-default {		
		--color-bg-primary: var(--color-white);
		--color-bg-alt: var(--color-gray-300);
		--color-text: var(--color-black);
		--color-link: var(--color-red-700);
		--color-link-hover: var(--color-red-900);
		--color-accent1: var(--color-green-700);
		--color-accent2: var(--color-green-300);
	}

	.color-theme-dark, .color-theme-page-header-default {
		--color-bg-primary: var(--color-black);
		--color-bg-alt: var(--color-gray-700);
		--color-text: var(--color-white);
		--color-link: var(--color-red-700);
		--color-link-hover: var(--color-red-900);
		--color-accent1: var(--color-green-700);
		--color-accent2: var(--color-green-300);
	}	

}