/**
 * This injects all of Tailwind's utility classes, generated based on your
 * config file.
 * BUTTON CLASSES NEED TO GO HERE SINCE THEY ARE GROUPED IF YOU WANT THEM TO BE RESPONSIVE */

@utility icon-small {        
        
   svg, i {
      width: 4rem;
      height: 4rem;
      font-size: 4rem;
      line-height: 1;
   }
}

@utility icon-medium {        
   
   svg, i {
      width: 8rem;
      height: 8rem;
      font-size: 8rem;
      line-height: 1;
   }
}

@utility icon-large {             
   
   svg, i {
      width: 12rem;
      height: 12rem;
      font-size: 12rem;
      line-height: 1;
   }
}

@utility constrain-text {
   p, ol, ul, h1, h2, h3, h4, h5, h6 {
      max-width: var(--prose); 
   }
}