/* THIS FILE IS FOR THEME ITEMS THAT ARE MORE GLOBAL AND DON'T TYPICALLY CHANGE FROM PROJECT TO PROJECT */

@theme static {
	
	--prose: 65ch;

	/* BASE SPACING */
	--spacing: 1.5rem;
	--spacing-none: 0rem;
	--spacing-quarter: calc(var(--spacing) * 0.25);
	--spacing-half: calc(var(--spacing) * 0.5);
	--spacing-base: calc(var(--spacing) * 1);
	--spacing-2x: calc(var(--spacing) * 2);
	--spacing-3x: calc(var(--spacing) * 3);
	--spacing-4x: calc(var(--spacing) * 4);
	--spacing-5x: calc(var(--spacing) * 5);
	--spacing-6x: calc(var(--spacing) * 6);
	--spacing-7x: calc(var(--spacing) * 7);
	--spacing-8x: calc(var(--spacing) * 8);
	--spacing-9x: calc(var(--spacing) * 9);	
	--spacing-10x: calc(var(--spacing) * 10);
	--spacing-neg-quarter: calc(-1 * (var(--spacing) * 0.25));
	--spacing-neg-half: calc(-1 * (var(--spacing) * 0.5));	
	--spacing-neg-base: calc(-1 * (var(--spacing) * 1));
	--spacing-neg-2x: calc(-1 * (var(--spacing) * 2));
	--spacing-neg-3x: calc(-1 * (var(--spacing) * 3));
	--spacing-neg-4x: calc(-1 * (var(--spacing) * 4));
	--spacing-neg-5x: calc(-1 * (var(--spacing) * 5));
	--spacing-neg-6x: calc(-1 * (var(--spacing) * 6));
	--spacing-neg-7x: calc(-1 * (var(--spacing) * 7));
	--spacing-neg-8x: calc(-1 * (var(--spacing) * 8));
	--spacing-neg-9x: calc(-1 * (var(--spacing) * 9));
	--spacing-neg-10x: calc(-1 * (var(--spacing) * 10));
	
	--spacing-scaling-base: clamp(1.5rem, 2.35vw, 4.5rem);
	--spacing-scaling-quarter: calc(0.25 * var(--spacing-scaling-base));
	--spacing-scaling-half: calc(0.5 * var(--spacing-scaling-base));
	--spacing-scaling-2x: calc(2 * var(--spacing-scaling-base));
	--spacing-scaling-3x: calc(3 * var(--spacing-scaling-base));
	--spacing-scaling-4x: calc(4 * var(--spacing-scaling-base));
	--spacing-scaling-5x: calc(5 * var(--spacing-scaling-base));
	--spacing-scaling-6x: calc(6 * var(--spacing-scaling-base));
	--spacing-scaling-7x: calc(7 * var(--spacing-scaling-base));
	--spacing-scaling-8x: calc(8 * var(--spacing-scaling-base));
	--spacing-scaling-9x: calc(9 * var(--spacing-scaling-base));
	--spacing-scaling-10x: calc(10 * var(--spacing-scaling-base));
	--spacing-neg-scaling-quarter: calc(-0.25 * var(--spacing-scaling-base));
	--spacing-neg-scaling-half: calc(-0.5 * var(--spacing-scaling-base));
	--spacing-neg-scaling-base: calc(-1 * var(--spacing-scaling-base));
	--spacing-neg-scaling-2x: calc(-2 * var(--spacing-scaling-base));
	--spacing-neg-scaling-3x: calc(-3 * var(--spacing-scaling-base));
	--spacing-neg-scaling-4x: calc(-4 * var(--spacing-scaling-base));
	--spacing-neg-scaling-5x: calc(-5 * var(--spacing-scaling-base));
	--spacing-neg-scaling-6x: calc(-6 * var(--spacing-scaling-base));
	--spacing-neg-scaling-7x: calc(-7 * var(--spacing-scaling-base));
	--spacing-neg-scaling-8x: calc(-8 * var(--spacing-scaling-base));
	--spacing-neg-scaling-9x: calc(-9 * var(--spacing-scaling-base));
	--spacing-neg-scaling-10x: calc(-10 * var(--spacing-scaling-base));

	
	/* BREAKPOINTS ADJUSTED FOR 10px BASE SIZE */
	--breakpoint-sm: 640px;
	--breakpoint-md: 768px;
	--breakpoint-lg: 1024px;
	--breakpoint-xl: 1280px;
	--breakpoint-2xl: 1536px;
	
	/* CONTAINER QUERY BREAKPOINTS ADJUSTED FOR 10px BASE SIZE */	
	--container-2xs: 28.8rem;
	--container-xs: 32rem;
	--container-sm: 38.4rem;
	--container-md: 44.8rem;
	--container-lg: 51.2rem;	
	--container-xl: 67.2rem;
	--container-2xl: 76.8rem;	
	--container-3xl: 102.4rem;	
	--container-4xl: 128rem;
	--container-5xl: 153.6rem;
	
	/* FONT SIZES */
	--text-xs: 1.2rem;
	--text-xs--line-height: calc(1 / 0.75);
	--text-sm: 1.4rem;
	--text-sm--line-height: calc(1.25 / 0.875);
	--text-base: 1rem;
	--text-base--line-height: calc(1.5 / 1);
	--text-lg: 1.8rem;
	--text-lg--line-height: calc(1.75 / 1.125);
	--text-xl: 2rem;
	--text-xl--line-height: calc(1.75 / 1.25);
	--text-2xl: 2.4rem;
	--text-2xl--line-height: calc(2 / 1.5);
	--text-3xl: 3rem;
	--text-3xl--line-height: calc(2.25 / 1.875);
	--text-4xl: 3.6rem;
	--text-4xl--line-height: calc(2.5 / 2.25);
	--text-5xl: 4.8rem;
	--text-5xl--line-height: 1;
	--text-6xl: 6rem;
	--text-6xl--line-height: 1;
	--text-7xl: 7.2rem;
	--text-7xl--line-height: 1;
	--text-8xl: 9.6rem;
	--text-8xl--line-height: 1;
	--text-9xl: 12.8rem;
	--text-9xl--line-height: 1;
	
	--text-scaling-xs: clamp(1rem, 0.9375vw, 1.4rem);
	--text-scaling-xs--line-height: calc(1 / 0.75);
	--text-scaling-sm: clamp(1.2rem, 1.09375vw, 1.6rem);
	--text-scaling-sm--line-height: calc(1.25 / 0.875);
	--text-scaling-base: clamp(1.4rem, 1.25vw, 1.8rem);
	--text-scaling-base--line-height: calc(1.5 / 1);
	--text-scaling-lg: clamp(1.6rem, 1.40625vw, 2rem);
	--text-scaling-lg--line-height: calc(1.75 / 1.125);
	--text-scaling-xl: clamp(1.8rem, 1.5625vw, 2.4rem);
	--text-scaling-xl--line-height: calc(1.75 / 1.25);
	--text-scaling-2xl: clamp(2rem, 1.875vw, 3rem);
	--text-scaling-2xl--line-height: calc(2 / 1.5);
	--text-scaling-3xl: clamp(2.4rem, 2.34375vw, 3.6rem);
	--text-scaling-3xl--line-height: calc(2.25 / 1.875);
	--text-scaling-4xl: clamp(3rem, 2.8125vw, 4.8rem);
	--text-scaling-4xl--line-height: calc(2.5 / 2.25);
	--text-scaling-5xl: clamp(3.6rem, 3.75vw, 6rem);
	--text-scaling-5xl--line-height: 1;
	--text-scaling-6xl: clamp(4.8rem, 4.6875vw, 7.2rem);
	--text-scaling-6xl--line-height: 1;
	--text-scaling-7xl: clamp(6rem, 5.625vw, 9.6rem);
	--text-scaling-7xl--line-height: 1;
	--text-scaling-8xl: clamp(7.2rem, 7.5vw, 12.8rem);
	--text-scaling-8xl--line-height: 1;
	--text-scaling-9xl: clamp(9.6rem, 10vw, 16rem);
	--text-scaling-9xl--line-height: 1;
			
	/* ASPECT RATIOS */
	--aspect-video: 16 / 9;
	--aspect-square: 1/1;
	--aspect-4-3: 4/3;
	--aspect-3-2: 3/2;
	--aspect-3-1: 3/1;
	--aspect-2-1: 2/1;
	--aspect-4-1: 4/1;
	
}