/**
 * This injects all of Tailwind's utility classes, generated based on your
 * config file.
 * BUTTON CLASSES NEED TO GO HERE SINCE THEY ARE GROUPED IF YOU WANT THEM TO BE RESPONSIVE */
 
@utility container {    
   margin-inline: auto;
   max-width: none;
   
   @variant lg {
      max-width: var(--breakpoint-lg);      
   }

   @variant xl {
      max-width: var(--breakpoint-xl);      
   }

   @variant 2xl {
      max-width: var(--breakpoint-2xl);      
   }
} 

@utility container-fullwidth {
   @apply max-w-full;
}


@utility icon-small {        
        
   svg, i {
      width: 4rem;
      height: 4rem;
      font-size: 4rem;
      line-height: 1;
   }
}

@utility icon-medium {        
   
   svg, i {
      width: 8rem;
      height: 8rem;
      font-size: 8rem;
      line-height: 1;
   }
}

@utility icon-large {             
   
   svg, i {
      width: 12rem;
      height: 12rem;
      font-size: 12rem;
      line-height: 1;
   }
}