/* THIS FILE IS FOR THEME ITEMS THAT ARE SPECIFIC TO THIS PROJECT */
@theme static {
	
	/* FONT DEFINIONS */
	/* Example: --font-proxima: 'proximanova', sans-serif; */
	
	/* COLOR DEFINITONS */
	/* Example: --color-red-50: oklch(97.1% 0.013 17.38); */
	--color-black: #000;
	--color-white: #fff;
	
	
}