{#
/**
 * Tiltrus - Block - Breadcrumbs
 * -----
 * 
 * @author    TILT, LLC <support@tiltbuilt.com>
 * @copyright Copyright (c) 2019, TILT, LLC
 * @link      https://tiltbuilt.com
 * @package   tiltrus
 */
#}

{# Load in global macros for use across all Twig templates #}
{% import 'bodyblocks/_core/_macros/globalMacros' as gMacros %}
{# Load in _core Tiltrus Element Display Controls macros #}
{% import 'bodyblocks/_core/_macros/edcMacros' as edcMacros %}
{# Optionally load in project-specific EDC macro overrides #}
{# {% import '_tiltrus/_project/edcMacros' as edcMacros %} #}


{# Set block id attribute value #}
{% if block.customId is defined and block.customId != '' %}
  {% set blockId = block.customId %}
{% else %}
  {% set blockId = 'breadcrumbs-' ~ container.id %}
{% endif %}

{# Set block type handle as class name for styling #}
{% set blockClass = block.type.handle %}

{# Get styling classes for block and assemble as class string #}
{% set stylingClasses = [block.topMargin, block.bottomMargin] %}

{# reveal animations #}
{% if block.revealAnimation is defined and block.revealAnimation != '' %}  
  {% set stylingClasses = stylingClasses|merge([block.revealAnimation]) %}
{% endif %}

{# Get the component's "Custom Class List" setting, thru which arbitrary classes can be added to the component #}
{% set customClassString = (container['customClassList'] is defined ? container.customClassList : null) %}
  
<div {{ edcMacros.buildElementAttributes(blockId, blockClass, stylingClasses, customClassString) -}}>
  <div class="inner">
	  <ul>
		{% for crumb in craft.navigation.breadcrumbs() %}
			<li>
				{{- crumb.link -}}
			</li>
		{% endfor %}
	  </ul>
  </div>
</div>
